RewriteEngine On

DirectoryIndex index.php

# Se o arquivo ou diretório existir, serve normalmente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Todas as demais requisições vão para o index.php
RewriteRule ^(.*)$ index.php [L,QSA]

DirectoryIndex index.php
Options -Indexes