Options -Indexes
DirectoryIndex index.php
RewriteEngine On

RewriteRule ^(\.git|app|config)(/|$) - [F,L]
RewriteRule ^README\.md$ - [F,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^(.*)$ index.php [L,QSA]
